* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p, pre, span {
    margin: 0;
    padding: 0;
}

.accordion {
    width: 100px;
    height: 20px;
    background-color: #ffb9b9;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s;
    &.is_active {
        height: 100px;
    }
    &_head {
        width: 100%;
        height: 20px;
        background-color: #878787;
        transition: all 0.3s;
        transform: rotate(0deg);
        &:hover {
            cursor: pointer;
            background-color: rgb(79, 79, 79);
        }
        &_ttl {
            position: relative;
            > h1 {
                font-size: 12px;
                text-align: center;
                color: #fff;
            }
        }
        &_arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            right: 7px;
            width: 10px;
            height: 10px;
            transform: translateY(-50%);
            &.is_active {
                > img {
                    transform: rotate(90deg);

                }
            }
            > img {
                width: 10px;
                height: 10px;
                transform: rotate(-90deg);
                transition: all 0.3s;
            }
        }
    }
}

